{% extends 'school/adminbase.html' %}



{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>

<!--
written By : sumit kumar
facebook : fb.com/sumit.luv
-->



<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Teachers Salary</h6>

      </div>

      <table class="table table-hover" id="dev-table">
        <thead>

          <tr>
            <th>Student Name</th>

            <th>Fee</th>

          </tr>
        </thead>
        {% for s in students %}
        <tr>
          <td> {{s.get_name}}</td>
          <td>{{s.fee}}</td>
        </tr>

        {% endfor %}
      </table>
    </div>

    {% if students.has_other_pages %}
    <nav aria-label="Paginação">
      <ul class="pagination justify-content-center">
        {% if students.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ students.previous_page_number }}">Anterior</a></li>
        {% endif %}
        {% for num in students.paginator.page_range %}
        {% if students.number == num %}
        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% elif num > students.number|add:'-3' and num < students.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}
        {% if students.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ students.next_page_number }}">Próximo</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

  </div>
</div>





{% endblock content %}
