{% extends 'school/adminbase.html' %}



{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }
    h6{
      text-align:center;
    }
    .row{
      margin:100px;
    }
  </style>

</head>



<!--
written By : sumit kumar
facebook : fb.com/sumit.luv
-->

<div class="container">

    	<div class="row" >

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h6 class="panel-title">Teachers</h6>

					</div>

					<table class="table table-hover" id="dev-table">
            <thead>

                <tr>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Salary</th>
                    <th>Joining Date</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for t in teachers %}
              <tr>
                  <td> {{t.get_name}}</td>
                  <td>{{t.mobile}}</td>
                  <td>{{t.salary}}</td>
                  <td>{{t.joindate}}</td>
                  <td><a class="btn btn-primary btn-xs" href="{% url 'update-teacher' t.id  %}"  ><span class="glyphicon glyphicon-edit"></span></a></td>
                  <td><a class="btn btn-danger btn-xs" href="{% url 'delete-teacher-from-school' t.id  %}"  ><span class="glyphicon glyphicon-trash"></span></a></td>

              </tr>

            {% endfor %}
					          </table>
				        </div>

                {% if teachers.has_other_pages %}
                <nav aria-label="Paginação">
                  <ul class="pagination justify-content-center">
                    {% if teachers.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ teachers.previous_page_number }}">Anterior</a></li>
                    {% endif %}
                    {% for num in teachers.paginator.page_range %}
                    {% if teachers.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% elif num > teachers.number|add:'-3' and num < teachers.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if teachers.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ teachers.next_page_number }}">Próximo</a></li>
                    {% endif %}
                  </ul>
              </nav>
              {% endif %}

              </div>
          </div>

{% endblock content %}
